.articles-categories__container {
  background-color: var(--color-bg-gray);
}

.articles-categories-header {
  padding: 3.5rem 9rem 3rem;

  @media (max-width: 768px) {
    padding: 49px 50px 55px;
  }
}

.articles-categories-container {
  display: flex;
  justify-content: flex-start;
  margin-left: clamp(0rem, 2vw, 4rem);
  gap: clamp(0.5rem, 3vw, 3rem);

  @media (max-width: 425px) {
    margin-left: 0;
  }
}

.articles-categories {
  background-color: var(--color-bg-gray);
}
