nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem 0;
  margin: 3.4375rem 0 2.6875rem 0;
}

nav > h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 32px;
}

span {
  display: block;
}
