nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 0;
  margin: 3.4375rem 0 2.6875rem 0;

  @media (max-width: 768px) {
    margin: 3rem 0 0 0;

    padding: 0;
  }
}

nav > h1 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 32px;
}

.navigation__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.navigation__icon {
  width: 36px;
  padding-top: 4px;
}
