@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

:root {
  --color-bg: #ffffff;
  --color-text-primary: #1e2c3b;
  --color-text-secondary: #777776;
  --color-bg-gray: #f4f4f4;
  --color-text-logo: #201b21;
  --color-text-error: #d94f4f;
  --color-text-filter: #8e2f3f;
  --color-black: #000000;
  --color-dark-gray: #414042;
  --color-accent-yellow: #ffbf42;
  --color-dark-blue: #444e8d;
  --color-green: #82e49a;

  --font-family-poppins: "Poppins", sans-serif;
  --font-family: "Open Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;

  --font-size: 16px;
  --font-size-h1: 32px;
  --font-size-h2: 24px;
  --font-size-h3: 18.72px;
  --font-size-small: 14px;
  --font-size-extra-small: 12px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --font-weight-extra-bold: 700;

  --primary-border-dark: 1px solid #1e2c3b;
  --gray-border-light: 1px solid #ddd;
  --gray-border: 1px solid #f4f4f4;
  --transparent-border: 1px solid transparent;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 100vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family);
  line-height: 32px;
  text-rendering: optimizeLegibility;
  color: var(--color-text-primary);
  background-color: #82e49a;
  min-height: 100vh;
  min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
