.active {
  display: inline-block;
  color: var(--color-text-filter);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 25%;
  text-decoration-thickness: 20%;
  font-weight: var(--font-weight-extra-bold);
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 9px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  width: 100%;
}

.filter-divider {
  cursor: auto;
  display: inline-block;
  padding: 0 5px;
  color: var(--color-text-filter);
}

.filter__text {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-bold);
}

.category-filter {
  justify-content: space-between;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 10px;
}

.sort {
  font-family: "Open Sans", sans-serif;
  text-transform: none;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.favorite-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 50px 0 0 298px;

  @media (max-width: 768px) {
    margin: 0 0 50px 30px;
  }
}
